body {
  background-color: #f0f4f8; /* Cinza muito claro */
  color: #444;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #ffffff; /* Branco */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #2a9d8f; /* Verde água para o título principal */
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 25px;
  padding: 15px;
  border: 2px solid #2a9d8f; /* Bordas em verde água */
  border-radius: 8px;
  background-color: #e0f7fa; /* Fundo suave em tom de verde água claro */
}

h2 {
  color: #2a9d8f; /* Verde água para os subtítulos */
  margin-bottom: 15px;
}

.periodo-container {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #2a9d8f; /* Bordas em verde água */
  border-radius: 8px;
  background-color: #b2dfdb; /* Fundo suave em tom de verde água */
}

label {
  display: inline-block;
  width: 120px;
  color: #00796b; /* Verde escuro para os rótulos */
}

input[type="text"],
select {
  width: calc(100% - 130px);
  padding: 10px;
  border: 1px solid #00796b; /* Bordas do campo de texto em verde escuro */
  border-radius: 8px;
  background-color: #e0f2f1; /* Fundo suave no campo de entrada */
}

input[type="text"]:focus,
select:focus {
  border-color: #004d40; /* Realce da borda ao focar */
  outline: none;
}

button {
  background-color: #004d40; /* Verde escuro */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #00251a; /* Verde muito escuro */
}
